<header class="container">
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand mb-0" href="/"><b>Trendz Collections</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/view-products?subCategory={{subCategoryName}}&gender=Male">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/view-products?subCategory={{subCategoryName}}&gender=Female">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/view-products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart<span class="badge text-bg-success"
                                id="cart-count">{{cartCount}}</span></a>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                    {{/if}}
                </ul>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">

                        {{#if user}}
                        {{user.name}}
                        {{else}}
                        Account
                        {{/if}}

                    </button>
                    <ul class="dropdown-menu">
                        {{#if user}}
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        {{/if}}


                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>