<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <tr>

                    <td><img src="/product-images/{{this.product._id}}.jpg" alt="" style="width: 70px; height: 70%">
                    </td>
                    {{!-- only public folder can directly access from frotend, so starting form slash / --}}

                    <td>{{this.product.name}}</td>
                    <td>{{this.product.price}}</td>

                    <td>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', -1)">-</button>
                        <span id="{{this.product._id}}"> {{this.quantity}} </span>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', 1)">+</button>
                    </td>

                    <td>
                        <button onclick="removeProduct('{{this._id}}', '{{this.product._id}}')"
                            class="btn btn-danger">Remove</button>
                    </td>

                </tr>
                {{/each}}

            </tbody>

        </table>
        <hr>
        <div class="float-end pe-5">
        <h3 class="float-start me-5 mt-4">Total: Rs.<span id="total">{{totalValue}}</span></h3>
        <a href="/place-order" class="float-end btn btn-success mt-3" style="width: 100%;"> <b>Place Order</b> </a>
        </div>
    </div>
</section>


<script>
    function changeQuantity(cartId, prodId, userId, count) {
        let quantity = parseInt(document.getElementById(prodId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: prodId,
                count: count,
                quantity: quantity                 //rightnow what displayed
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed from cart")
                    location.reload()
                } else {
                    document.getElementById(prodId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }
            }
        })
    }

    function removeProduct(cartId, prodId){

        $.ajax({
            url: '/delete-Product',
            data: {
                cart: cartId,
                product: prodId
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                location.reload()
            }
        })
    }
</script>