
<div class="mt-5 d-flex justify-content-center fixed-top bg-white">
    <h1 class="landfont mt-4"> {{subCategoryName}}</h1>
</div>
<section class=" pt-2">
  
  <div class="container mt-5 pt-5">
    <div class="row">
      {{#each products}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
        <div class="card">
          <div class="card-img-wrap"><img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Denim Jeans"
              style="width:100%"></div>
          <span><b>{{this.brand}}</b></span>
          <span>{{this.description}}</span>
          <span class="price"> <b> Rs. {{this.price}}</b></span>
          <p><button onclick="addToWishlist('{{this._id}}')">WISHLIST</button></p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>




<script>
  $(function () {
    $(".auto_submit_item").change(function () {
      $("form").submit();
    });
  });
</script>